<% @user ||= current_user %>
<div class="stats">
  <a href="<%=  %>">
    <strong id="following" class="stat">
      <%=  %>
    </strong>
    following
  </a>
  <a href="<%=  %>">
    <strong id="followers" class="stat">
      <%=  %>
    </strong>
    followers
  </a>
</div>
